<article id="resume" itemscope itemtype="http://microformats.org/profile/hresume">
    <header itemprop="contact" itemscope itemtype="http://microformats.org/profile/hcard" class="clearfix">
        <h1 itemprop="fn">
            <span itemprop="given-name">David</span>
            <span itemprop="familiy-name">Wick</span>
        </h1>
        <div id="contact">
            <address itemprop="adr">
                <span itemprop="locality">Cambridge</span>,
                <span itemprop="region">MA</span>
                <span itemprop="postal-code">02139</span>
            </address>
            <div itemprop="email">wick.d.spencer@gmail.com</div>
            <div itemprop="tel">860-713-1364</div>
            <div itemprop="url"><a href="/">davidwick.me</a></div>
        </div>
    </header>
    <section itemprop="summary" class="clearfix">
        <blockquote>
            <p>I'm currently seeking employment in the <strong>Boston area</strong> having something to do with the <strong>web</strong>.</p>
        </blockquote>
    </section>
    <section itemprop="experience" class="clearfix">
        <header class="grid_3 first">
            <h1>Experience</h1>
        </header>
        <div class="grid_9 last">
            <ol itempscope itemtype="http://microformats.org/profile/hcalendar">
                <li itemprop="vevent">
                    <header itemprop="summary" itempscope itemtype="http://microformats.org/profile/hcard">
                        <h1 itemprop="title">Consultant
                            <small itemprop="org">
                                <span itemprop="organization-name"><abbr title="University of Connecticut">UConn</abbr></span>, 
                                <span itemprop="organization-unit">School of Business</span>
                            </small>
                        </h1>
                        <h3 itemprop="adr">
                            <span itemprop="locality">Storrs</span>,
                            <span itemprop="region">CT</span>
                        </h3>
                        <div itemprop="duration">
                            <time itemprop="dtstart" datetime="2010-12-21">December 2010</time> - <time itemprop="dtend" datetime="2011-10-05">Present</time>
                        </div>
                    </header>
                    <div itemprop="description">
                        <p><em>Full-time web application programmer, systems administrator, and third-tier helpdesk technician.</em></p>
                        <strong>Daily Responsibilities</strong>
                        <ul>
                            <li>Supporting and maintaining homegrown software.</li>
                            <li>Automating administrative tasks.</li>
                            <li>Microsoft live@edu administrator.</li>
                            <li>IIS Troubleshooting and support.</li>
                            <li>Level III technical support.</li>
                        </ul>
                        <strong>Major Projects</strong>
                        <ul>
                            <li>Web-based tool for creating Active Directory/Exchange accounts.</li>
                            <li>Web-based tool for undergraduate student appointment scheduling.</li>
                            <li>UConn web template. (<a class="external" href="https://github.com/dwick/UCTemplate" target="_blank">github repository</a>)</li>
                            <li>Student domain account provisioning service.</li>
                            <li>Web-based account management portal. (<a class="external" href="http://me.business.uconn.edu" target="_blank">me.business.uconn.edu</a>)</li>
                            <li>Microsoft Forefront Identity Manager implementation.</li>
                        </ul>
                    </div>
                </li>
                <li itemprop="vevent">
                    <header itemprop="summary" itempscope itemtype="http://microformats.org/profile/hcard">
                        <h1 itemprop="title">Principal
                            <small itemprop="org">
                                <span itemprop="organization-name">D.S.W. Consulting Services</span>
                            </small>
                        </h1>
                        <h3 itemprop="adr">
                            <span itemprop="locality">Granby</span>,
                            <span itemprop="region">CT</span>
                        </h3>
                        <div itemprop="duration">
                            <time itemprop="dtstart" datetime="2010-05-01">May 2010</time> - <time itemprop="dtend" datetime="2011-02-01">February 2011</time>
                        </div>
                    </header>
                    <div itemprop="description">
                        <p><em>A side business I started after a successful venture into Salesforce.com for a Windsor, CT based robotics firm.</em></p>
                        <strong>Daily Responsibilities</strong>
                        <ul>
                            <li>Market services to potential clients.</li>
                            <li>Management of financial services including budgeting, taxes, income and expenses.</li>
                            <li>Provide consulting services leveraging Salesforce, .NET, and associated technologies.</li>
                            <li>Utilize client service skills to promote brand loyalty and repeat business.</li>
                        </ul>
                        <strong>Major Projects</strong>
                        <ul>
                            <li>Log parser and Salesforce.com data importer.</li>
                            <li>Intelligent reporting and six-sigma based alert system.</li>
                        </ul>
                    </div>
                </li>
                <li itemprop="vevent">
                    <header itemprop="summary" itempscope itemtype="http://microformats.org/profile/hcard">
                        <h1 itemprop="title">Student Technician
                            <small itemprop="org">
                                <span itemprop="organization-name"><abbr title="University of Connecticut">UConn</abbr></span>, 
                                <span itemprop="organization-unit">School of Business</span>
                            </small>
                        </h1>
                        <h3 itemprop="adr">
                            <span itemprop="locality">Storrs</span>,
                            <span itemprop="region">CT</span>
                        </h3>
                        <div itemprop="duration">
                            <time itemprop="dtstart" datetime="2007-8-21">August 2007</time> - <time itemprop="dtend" datetime="2010-12-21">December 2010</time>
                        </div>
                    </header>
                    <div itemprop="description">
                        <p><em>Part-time helpdesk support.</em></p>
                        <strong>Daily Responsibilities</strong>
                        <ul>
                            <li>Technical support for more than 200 faculty and staff, as well as 1500 students in the school's laptop distribution initiative.</li>
                            <li>Answering phones, email, and assisting walk-in customers.</li>
                            <li>Creating and maintaining desktop images.</li>
                            <li>Problem solving.</li>
                        </ul>
                        <strong>Major Projects</strong>
                        <ul>
                            <li>Windows Domain logon script.</li>
                            <li>WDS deployed Windows XP/7 images.</li>
                        </ul>
                    </div>
                </li>
            </ol>
        </div>
    </section>
    <section itemprop="education" itemscope itemtype="http://microformats.org/profile/hcalendar" class="clearfix">
        <header class="grid_3 first">
            <h1>Education</h1>
        </header>
        <div class="grid_9 last">
            <ol itempscope itemtype="http://microformats.org/profile/hcalendar">
                <li itemprop="vevent">
                    <header itemprop="summary" itempscope itemtype="http://microformats.org/profile/hcard">
                        <h1 itemprop="title">
                            <abbr title="Bachelors of Science">B.S.</abbr> 
                            Information Systems
                            <small itemprop="org">
                                <span itemprop="organization-name"><abbr title="University of Connecticut">UConn</abbr></span>, 
                                <span itemprop="organization-unit">School of Business</span>
                            </small>
                        </h1>
                        <h3 itemprop="adr">
                            <span itemprop="locality">Storrs</span>,
                            <span itemprop="region">CT</span>
                        </h3>
                        <div itemprop="duration">
                            <time itemprop="dtstart" datetime="2005-8-21">August 2005</time> - <time itemprop="dtend" datetime="2010-12-18">December 2010</time>
                        </div>
                    </header>
                    <div itemprop="description">
                        <ul>
                            <li>3.67 Major <abbr title="Grade Point Average">GPA</abbr>, 3.36 Overall</li>
                            <li>Spring 09' Scholarship for Business Award recipient</li>
                            <li>Dean's List: Spring 07', 08', 09', 10' and Fall 08'</li>
                            <li>Men's Club Cycling</li>
                        </ul>
                    </div>
                </li>
            </ol>
        </div>
    </section>
    <section itemprop="skill"  class="clearfix">
        <header class="grid_3 first">
            <h1>Skills</h1>
        </header>
        <div class="grid_9 last">
            <div class="grid_3 first">
                <strong>Programming</strong>
                <ul>
                    <li>C#</li>
                    <li>ASP.NET MVC</li>
                    <li>HTML5</li>
                    <li>Javascript</li>
                    <li>CSS3</li>
                    <li>SQL</li>
                    <li>Powershell</li>
                </ul>
            </div>
            <div class="grid_3">
                <strong>Server Management</strong>
                <ul>
                    <li>Windows Server 2008 R2</li>
                    <li>Microsoft Internet Information Services 7</li>
                    <li>Microsoft Active Directory</li>
                    <li>Microsoft Exchange 2010</li>
                    <li>Microsoft Forefront Identity Manager 2010</li>
                </ul>
            </div>
            <div class="grid_3 last">
                <strong>Other</strong>
                <ul>
                    <li>Strong understanding of relational databases</li>
                    <li>Microsoft Office, Visio, OneNote</li>
                    <li>Technical writing &amp; documentation</li>
                    <li>Written and oral communication</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <header class="grid_3 first">
            <h1>Interests</h1>
        </header>
        <div class="grid_9 last">
            <p>Web-standards, accessibility, cycling, &amp; photography.</p>
        </div>
    </section>
</article>